// colors variable
$primary-color : #DF3458;
$secondary-color : #1E1F24;
$heading-highlights-color :#F06D6D;

//button color
$btn-primary : #DF3458;


//devices breakpoints
$extra-large : 1920px;
$large : 1366px;
$medium : 768px;
$small : 460px;